body {
    font-family: 'Rubik', sans-serif;
    background-color:rgb(252, 94, 37);
    max-width: 1040px;
    width: 75%;
    
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 56px;
    margin: 20px;
}

h2 {
    font-weight: lighter;
    font-size: 22px;
    color: white;
    width: 800px;
    margin: 20px;
}

h3 {
    position: relative;
    top: -400px;
}

.card__one {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    
    

}

img {
    transform: scale(.3);
    position: relative;
    left: -240px;
    top: -200px;
    
}

.card__one__yellow, .card__one__pink, 
.card__one__green, .card__one__blue {
    background-color: white;
    border-radius: 10px;
    max-width: 200px;
    max-height: 450px;
    margin: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

p {
    position: relative;
    top: -400px;
    align-self: center;
}

.btn {
    display: flex;
    justify-content: center;
    /* z-index: 1;
    position: relative;
    top: -400px;
    background-color:rgb(101, 205, 254);
    margin-left: 40px;
    padding: 10px; */

}

.btn__yellow, .btn__pink, .btn__green, .btn__blue {
    z-index: 1;
    position: relative;
    top: -400px;
    background-color:rgb(252, 94, 37);
    padding: 10px;
    border-radius: 8px;
    border:currentColor;
    
    
}

.btn__yellow:hover {
    background-color: yellow;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn__pink:hover {
    background-color:deeppink;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn__green:hover {
    background-color:chartreuse;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn__blue:hover {
    background-color:royalblue;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
    animation: imgZoom 1.5s ease-in-out infinite;
}

@keyframes imgZoom {
    from{transform: scale(1) ;}
    to {transform: scale(1.5) ;}
}